SERVICE_NAME=academic-service
SERVICE_PORT=5002
ENV=development
DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_NAME=fsbm_db
DB_USER=root
DB_PASSWORD=

CORS_ORIGINS=http://localhost:4200,http://localhost:5001
